<% include ../partials/head %>
<% include ../partials/header %>

<section>
    <div class="container container-twelve">
        <!--<div class="row">
          <div class="twelve columns">

          </div>
        </div>-->
        <div class="row">
            <div class="eight columns">
                <h2><%= workshop.title %></h2>
                <% if (adminUser) { %>
                <br>
                <a href="#" class="button" id="edit-workshops" data-id="<%= workshop.key %>">Edit workshop</a>
                <br> <br>
                <% } %>
                <div class="panel cms-content">
                    <%- workshop.body %>
                </div>
            </div>
            <div class="four columns">
                <div class="panel boxed">
                    <h3>Sponsors</h3>
                    <div class="textcenter">
                        <p><a href="http://www.audeering.com/" target="_blank"><img src="/images/audeering.png" alt="audeering" class="responsive grayscale"></a></p>
                        <p><a href="http://sewaproject.eu/" target="_blank"><img src="/images/sewa-logo.png" alt="Sewa" class="responsive grayscale"></a></p>
                        <p><a href="http://emotion-research.net/" target="_blank"><img src="/images/aaac.png" alt="aaac" class="responsive grayscale"></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</section>
<% if (adminUser) { %>
<div id="dialog-form" title="Create/Edit workshop">
    <p class="validateTips"></p>

    <form>
        <fieldset>
            <label for="title">Workshop title</label>
            <input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" value="<%= workshop.title %>" />
            <label for="body">Workshop HTML</label>
            <textarea name="body" id="body" class="text ui-widget-content ui-corner-all"><%= workshop.body %></textarea>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            <input type="hidden" id="workshopuniquekey" value="<%= workshop.key %>">
        </fieldset>
    </form>
</div>
<% } %>
<% include ../partials/footer %>
<% if (adminUser) { %>
<script type="text/javascript">
    $(document).ready(function(){
        var dialog, form,
                workshopuniquekey = $( "#workshopuniquekey" ),
                title = $( "#title" ),
                body = $( "#body" ),
                allFields = $( [] ).add( title ).add( body ),
                tips = $( ".validateTips" );

        function updateTips( t ) {
            tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                min + " and " + max + "." );
                return false;
            } else {
                return true;
            }
        }

        function updateWorkshops() {
            var valid = true;
            allFields.removeClass( "ui-state-error" );

            valid = valid && checkLength( title, "Workshop title", 5, 150 );
            valid = valid && checkLength( body, "Workshop HTML", 5, 10000 );

            if ( valid ) {
                // Do submit and refresh
                loadingPopup();
                $.ajax({
                    type: "POST",
                    url: '/workshop/update',
                    data: {
                        'key' : workshopuniquekey.val(),
                        'title' : title.val(),
                        'body' : body.val()
                    },
                    success: function(data){
                        if (data == 'Done') {
                            location.reload();
                        } else {
                            $('#overlay').remove();
                            alert(data);
                        }
                    }
                });

                dialog.dialog( "close" );
            }
            return valid;
        }

        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 600,
            width: 600,
            modal: true,
            buttons: {
                "Save": updateWorkshops,
                Cancel: function() {
                    dialog.dialog( "close" );
                }
            },
            close: function() {
                form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
            }
        });

        form = dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            updateWorkshops();
        });

        $( "#edit-workshops" ).on( "click", function() {
            dialog.dialog( "open" );
            return false;
        });
    });
</script>
<% } %>
